*{
    padding: 0;
    margin: 0;
}
:root{
    --primario: #F1F1F1;
    --secundario: #E2DCC8;
    --Relleno: #100F0F;
    --verde: #0F3D3E;
    font-family: 'poppins', sans-serif;
    
}

body{
    background-color: var(--secundario);
}

header{
    width: 100%;
    position: fixed;
			display: flex;
			justify-content: space-around;
			transition: 0.7s;
            z-index: 10;

}

header .name a{
    display: none;
}

header.abajo .name a{
    display: flex;
    color: var(--primario);
    text-decoration: none;
    font-size: 22px;
    font-weight: 200;

}

header .name{
    width: 100%;
    display: flex;
    padding: 30px;
    align-items: center;
}

header.abajo{
    background: var(--Relleno);}

header nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

header nav ul{
    width: 300px;
    margin: 30px;
    padding: 10px;
    background-color: #100F0F;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;

}

header nav ul li{
    display: inline-flex;
    justify-content: center;
    color: var(--primario);
}

header nav ul li a{
    position: relative;
    text-decoration: none;
    color: var(--primario);
    font-weight: 200;
}


.baner{
    width: 100%;
    height: 500px;
    display: flex;
}

.baner .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.background-2{
    width: 100%;
    height: 500px;
    background-color: var(--Relleno);
}

.background-3{
    background-color: var(--secundario);
    width: 100%;
    height: 500px ;
}



