*{
    padding: 0;
    margin: 0;
}

body{
        background-color: black;
}

.menu{
    width: 100%;
    display: flex;
    justify-content:center;
}

.menu nav{
    display: flex;
    justify-content: center;
    transition: all (step-start);
}

nav a{
    color:white;
    text-decoration: none;
}

nav a p{
    padding: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.baner{
    width: 100%;
}

.baner .logo{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.mid{
    
    margin-top:  40px; 
    width: 100%;
}

.mid .images{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mid .images img{
    width: 480px;
    height: 360px;
}

.mid p{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
}
@media screen and (max-width:1280px) {
        .mid .images{
        }
        
        .mid .images img{
            width: 360px;
            height: 280px;
        }
        
        .mid p{
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
            color: white;
    }
}



